.MyProfile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(224, 226, 228);
    height: 1160px;
}

.ProfileInfo {
    margin: 10px 0;
    font-weight: 600;
    font-size: 20px;
    font-weight: 600;
}

.ProfileInfoContainer {
    border: 2px solid rgb(167, 162, 162);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: #f4eded;
    margin-top: 30px;
}

.ProfilePic {
    border-radius: 50%;
    border: 2px solid rgb(167, 162, 162);
    margin-bottom: 10px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4eded;
}

.Matches {
    display: flex;
    justify-content: center;
}

.PlayedMatches {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.TriangleButton {
    margin: 0 10px 0 10px;
}


.ProfileAndStatisticsContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 100px;
}

.picUrlAndButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.PictureUrl {
    border-radius: 50%;
    border: 2px solid rgb(167, 162, 162);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4eded;
    max-width: 300px;
}