.Cart {
    background-color: rgb(224, 226, 228);
    margin-top: -20px;
    min-height: 1160px;
}

.Shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Container {
    display: flex;
    justify-content: center;
}

.Header {
    margin-top: 20px;
    padding: 20px;
}