@import '../../../../Shared/CssVars.css';
  
  .DrawerToggle {
      margin-right: 15px;
      width: 40px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-around;
      padding: 10px 0;
      cursor: pointer;
  }

  .DrawerToggle:hover {
      background-color: #94c4e0;
  }

.Bar {
    width: 90%;
    height: 5px;
    background-color: var(--darkBlue);
    border-radius: 4px;
    margin: 2px 0;
  }

  @media (min-width: 576px) {
      .DrawerToggle {
          display: none;
      }

    }


  